<!DOCTYPE html>
<html>
  <head>

    <title>Schützen, Schießen, Nachladen</title>
 
    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="styles/skeleton.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
    <!-- JS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js"></script>    
    <script src="/socket.io/socket.io.js"></script>
    <script> const socket = io(); </script>
    <script>
        // Onbeforeload
        window.onbeforeunload=function(){
          return "Are you sure to leave this page? If you are alone in this lobby, this lobby will be deleted!";
        }



    </script>


    <!-- SEO meta-tags
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="description" content="">
    <meta name="keywords" content="">   
    <meta name="title" content="">



  </head>
<body class="align-left">


  <!-- Menu icon 
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div id="menu-icon-shape">
    <div id="menu-icon">
      <div id="top"></div>
      <div id="middle"></div>
      <div id="bottom"></div>
    </div>
  </div>
  
  <!-- Dark overlay menu 
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <nav id="overlay-nav">
    <div id="nav-content">
      <ul>
        <li><a href="/">Start</a></li>          
        <li><a href="#">Kontakt</a></li>
        <li><a href="/impressum">Impressum</a></li>
        <% if (authenticated = true) { %> 
          <li> 
            <form action="/logout" method="/post">
              <button type="submit" class="button button-primary">Logout</button>
            </form>
          </li> <% } %>
      </ul>
    </div>
  </nav>
  


  <!-- First content box 
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div id="box1"  class="row height_100 dark_B light" style="">


  <h1> Game </h1>

  <div class="Spielgegner" style="border-bottom:1px solid black;">
    <p>Gegnername</p>
    <img src="<%= gravURL %>" style="border-radius:50%;">    
    <p class="bullets">Bullets: 00</p>    
  </div>

  <div class="Timer" style="border-bottom:1px solid black;">
    <p>
      Timer: 00:28
    </p>

          <button class="js-button-ready">Ready</button>

    
    <p>
      Round 1
    </p>

  </div>

  <div class="Spieler" id="spieler">
      <p>Spielername</p>
      <img src="http://www.gravatar.com/avatar/683f8ca4218057265bad6a32aab8da8a?s=200&r=pg&d=monsterid" style="border-radius:50%;">
      <p class="bullets">Bullets: 00</p>
            
      <button class="js-button-shoot" >Shoot</button>  
      <button class="js-button-reload">Reload</button>  
      <button class="js-button-protect">Protect</button> 
      <button>Give up</button>   <br>
      <button class="js-button-pistol" id="js-button-pistol">Pistol</button>  
      <button class="js-button-rifle">Rifle</button>  
      <button class="js-button-shotgun">Shotgun</button>
  </div>


  </div>

  <script>
    roomcode= '<%= roomcode%>';
    username= '<%= username %>';
    gravURL= '<%= gravURL %>';
  </script>

  
  <!-- Footer
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div id="footer"  class="row" style="background-color: white;">
    <p>&#169; 2017 by <strong>After Work</strong></p> <a href="/impressum">impressum</a>
  </div>





  <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script type="text/javascript" src="styles/rellax.js"></script>
  <script type="text/javascript" src="styles/menu_scroll_type_modal.js"></script>
  <script type="text/javascript" src="game.js"></script>    
  
  <script>

    window.onload = changeButtonStatus();
    console.log('Change Button');
  </script>

  
</body>

</html>