<!DOCTYPE html>
<html>
  <head>

    <title>Dummy Page</title>
 
    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="styles/skeleton.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
    <!-- JS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js"></script>    


    <!-- SEO meta-tags
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="description" content="">
    <meta name="keywords" content="">   
    <meta name="title" content="">



  </head>
<body>


  <!-- Menu icon 
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div id="menu-icon-shape">
    <div id="menu-icon">
      <div id="top"></div>
      <div id="middle"></div>
      <div id="bottom"></div>
    </div>
  </div>
  
  <!-- Dark overlay menu 
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <nav id="overlay-nav">
    <div id="nav-content">
      <ul>
          <li><a href="/">Start</a></li>          
          <li><a href="/impressum">Impressum</a></li>
          <li><a href="#">Kontakt</a></li>
      </ul>
    </div>
  </nav>
  


  <!-- Headline
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div id="box1"  class="row align-center" style="background-color:white;padding:50px 15px 20px 15px;">

    <h1>Impressum</h1>

  </div>


  <!-- Second content box 
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div id="box2"  class="row height_100 align-center" style="background-color:#7AFFD1;padding:20px 15px;">

    <p>Anbieter:<br />Max Mustermann<br />Musterstraße 1<br />80999 München</p>
    <p>Kontakt:<br />Telefon: 089/1234567-8<br />Telefax: 089/1234567-9<br />E-Mail: mail@mustermann.de<br />Website: www.mustermann.de</p>
    <p> </p>
    <p>Bei redaktionellen Inhalten:</p>
    <p>Verantwortlich nach § 55 Abs.2 RStV<br />Moritz Schreiberling<br />Musterstraße 2<br />80999 München</p>

  </div>


  <!-- Footer
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->      
  <div id="footer"  class="row" style="background-color: white;">
    <p>&#169; 2017 by <strong>After Work</strong></p> <a href="/impressum">impressum</a>
  </div>






  <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script type="text/javascript" src="styles/rellax.js"></script>
  <script type="text/javascript" src="styles/menu_scroll_type_modal.js"></script>


</body>

</html>