
/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Colors
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
- Eigene Änderungen
*/

body {
  background-color:#333333;
}

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  margin-bottom:25px;
  box-sizing: border-box; }

.no_mobile {
  display: none;
}

.only_mobile {
  display: block;
}


  
/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 100%;
    padding: 0;
   }

   .padding_12 {
     padding: 0;
   }

}

/* For devices larger than 550px */
@media (min-width: 850px) {
  .container {
    width: 100%; }
  .column,
  .columns {
    margin-left: 20px;
  margin-bottom:25px; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0%; }
.padding_12 {
  padding: 12px;
}
.no_mobile {
  display: block;
}

.only_mobile {
  display: none;
}

.row.padding_25 {
  padding-right: 0 !important;
}


  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}

.row.height_100 {
  min-height: calc(100vh - 50px);
}

.row.height_20 {
  min-height: calc(20vh - 50px);
}



.row.padding_50 {
padding:50px 15px;}

.padding_25 {
padding:25px 25px 25px 25px;}

.row .row.padding_25 {
  padding: 25px 25px 0px 25px;
}


.margin_25 {
  margin: 25px;
}


.relative {
  position: relative; 
}



/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family:"open sans", "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff; }


.dark_B {
border: 2px #330A2A solid;
}

dark_B_mobile_none {
  border: 0px #330A2A solid;

}


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0rem;
  font-weight: 300; }
h1 { font-size: 4.0rem; line-height: 1;  letter-spacing: -.1rem;font-weight: 800;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

/* Larger than phablet */

@media (min-width: 550px) {
  h1 {
    font-size: 5.6rem;
  }
  h2 {
    font-size: 4.2rem;
  }
  h3 {
    font-size: 3.6rem;
  }
  h4 {
    font-size: 3.0rem;
  }
  h5 {
    font-size: 2.4rem;
  }
  h6 {
    font-size: 1.5rem;
  }
}



.Headline {
   word-wrap:break-word;
  margin:12px 0 0 0;
  position: relative;
  text-align: left;
}

.Headline span {
    position: absolute;
    font-size: 16px;
    font-weight: 100;
    top: -12px;
}

h2 {
  margin: 12px 0 0 0;
  position: relative;
  text-align: left;
      font-size: 35px;
      font-weight: 900;
      display: block;
      margin: 0;

}

h2 span {
  position: absolute;
  font-size: 16px;
  font-weight: 100;
  top: -12px;
}





.window h2 {font-weight: 900;}

p {
  margin-top: 0;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}


/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.dark {
  color: #222;
}

.light_F {
  color: #fff;
}



/* Text color when Background is light #3c0c32 */


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #7AFFD1; }
a:hover {
  color: #7AFFD1; }


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 25px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; 
  -webkit-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    transition:all .1s ease-in;}


.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: white;
  background-color: transparent;
  border-color: white;
  min-width:130px;
  text-align: center;
  z-index: 2;
  position: relative; }
.button.button-primary.button-dark,
button.button-primary.button-dark,
input[type="submit"].button-primary.button-dark,
input[type="reset"].button-primary.button-dark,
input[type="button"].button-primary.button-dark {
  color: #330A2A;
  background-color: transparent;
  border-color: #330A2A;
  min-width:130px;
  text-align: center;
  z-index: 2;
  position: relative; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: white;
  background-color: #330A2A;
  border-color: #330A2A;
  -webkit-transition: all .1s ease-in ;
    -moz-transition: all .1s ease-in ;
    -o-transition: all .1s ease-in ;
    transition:all  .1s ease-in ;
}

.button_float_right {
  float: right;
}


.disable-button {
  cursor: default !important;
  opacity: 0.4;
}


.disable-button:hover {
color: #555;
border-color: #bbb;
outline: 0;
}

.enable-button {
  cursor:pointer;
  opacity: 1;
}


.enable-button:hover {
color: #bbb;
border-color: #bbb;
outline: 0;
}



/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 10px 15px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #00FFB1;
  border: 1px solid #00FFB1;
  border-radius: 25px;
  color: black;
  width: 90%;
  margin: 5px 0;  
  font-weight: 100;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #7affd1;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }
input::placeholder{
  color:#585858;
  font-family:"open sans";
  font-weight: 100;
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-top: 0.7rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }

.goGame form {
  margin-bottom: 0em;
}
.goGame input[type="text"] {
  margin: 10px 0px 0px 0;
  width: 180px;
}



/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }

.display-none {
  display: none;
}

.text-right, .text-right span {
  text-align: right !important;
}

.text-center, .text-center span {
  text-align: center !important;
}

.pointer {
  cursor: pointer;
}


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }


/*  owns
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#head {
  min-height: 100vh;
  text-align: center;
}

#head .button {
  min-width: 160px;
  z-index: 2;
  position: relative;
}


/* Modal */

.modal, .modal-box {
  z-index: 900;
}

.modal-sandbox {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent;
}

.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, .8);
  overflow: auto;
}

.modal-box {
  position: relative;
  width: 80%;
      background-color: #333;
  max-width: 400px;
  margin: 100px auto;
  padding-bottom: 1px;
  animation-name: modalbox;
  animation-duration: .3s;
  animation-timing-function: ease-out;
}

.modal-box button.button.button-primary {
  min-width: 160px;
  z-index: 2;
  margin: 10px;
  position: relative;
}

.modal-box ul {
  margin: 0;
  padding: 10px;
  color:darkred;
  font-size: 12px;
}




.modal-header {
  padding: 20px 40px;
  background: #333333;
  color: #ffffff;
}

.modal-body {
    background: #333333;
    border: 2px solid #330A2A;
    padding: 30px 40px;
    margin: 20px;
}

/* Close Button */
.close-modal {
  text-align: right;
  cursor: pointer;
}


p {
  z-index: 2;
  position: relative;
}

.hero {
  color: black;
  width: 100%;
  height: 36vh;
  z-index: 2;
  position: relative;
}

.hero  img {
    height: 108vh;
    width: 80vw;
    margin: -120px 0 0 0;
}

.p1 {
  margin-bottom: 10px;
  font-weight: 100;
}

.p2 {
  line-height: 45px;
  height: 110px;
  font-size: 60px;
  margin-bottom: 0;
  font-family: 'open sans', sans-serif;
  font-weight: 800;
}

.inner-text {
  position: relative;
  font-size: 20px;
  bottom: 0;
}

h1, h2, h3, .p2 {
  font-family: 'open sans', sans-serif;
  letter-spacing: 0.9px;
}



.columns {
  min-height: 1px;
}

.twellve.columns.secondbox h1, .twellve.columns.secondbox p {
  max-width: 620px;
  margin: 25px auto;
}

.secondbox {
  padding-top: calc(50vh - 130px);
}

.thirdbox {
  padding-top: calc(50vh - 190px);
}

a {
  color: black;
}


@keyframes float{
  50%{
    transform: translate(0, 20px);
  }
}
@keyframes floatUp{
  50%{
    transform: translate(-50%, -20px);
  }
}

.fa {
  width: 100%;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
  z-index: 2;
}

.scroll:hover{
  color: #585858;
}

/*  footer  */
#footer a {
  display: block;
  width: 100%;
      color: #00FFB1;
  padding: 10px 0;
  text-align: center;
 position: absolute;
  font-size: 13px;
}
#footer p {
  display: block;
  padding: 10px 0;
  font-size: 13px;
  float: left;
  margin-bottom: 0;
  margin: 0 0 0 15px;
}

/* Menu icon */
#home #menu-icon-shape {
  width: 60px;
  height: 60px;
  position: fixed;
  top: 40px;
  right: 45px;
  border-radius: 50%;
  border: 3px solid transparent;
  z-index: 5;
  background: transparent;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#menu-icon-shape {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0px;
  right: 7px;
  border-radius: 50%;
  border: 3px solid transparent;
  z-index: 5;
  background: transparent;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}


#menu-icon-shape.active {
  background: transparent;
  border: transparent;
  border: 3px solid black;
  background: rgba(0, 0, 0,1);
}

#menu-icon-shape.active:hover {
  background: rgba(0, 0, 0, 0.9);
}

#menu-icon {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0 auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

#top, #middle, #bottom {
  width: 100%;
  height: 4px;
  background:white;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.active #top, .active #middle, .active #bottom {
  background: white;
}

#middle {
  margin: 4px 0;
}

/* Transform menu icon into close icon */
#top.active {
  -webkit-transform: translateY(8px) translateX(0) rotate(45deg);
  transform: translateY(8px) translateX(0) rotate(45deg);
}

#middle.active {
  opacity: 0;
}

#bottom.active {
  -webkit-transform: translateY(-8px) translateX(0) rotate(-45deg);
  transform: translateY(-8px) translateX(0) rotate(-45deg);
}

/* Navigation */

#overlay-nav {
  height: 0;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 4;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.35s, visibility 0.35s, height 0.6s ease;
  transition: opacity 0.35s, visibility 0.35s, height 0.6s ease;
  -webkit-box-shadow: -2px 0px 35px 0px rgba(0,0,0,0.29);
-moz-box-shadow: -2px 0px 35px 0px rgba(0,0,0,0.29);
box-shadow: -2px 0px 35px 0px rgba(0,0,0,0.29);
}



/* Open navigiation */


#overlay-nav.active {
  height: 100%;
  opacity: 100;
  visibility: visible;
}

#nav-content {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

#nav-content ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  text-align: center;
}

#nav-content ul li a {
  width: 100%;
  padding: 1% 0;
  display: block;
  font-family: 'open sans', sans-serif;
  font-weight: 100;
  font-size: 1.5em;
  letter-spacing: 0.6px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

#nav-content ul li a:hover {
  color: #7affd1;
}


#nav-content .button.button-primary,#nav-content button.button-primary {
  color: white;
  background-color: transparent;
  border:none;
  padding: 0;
  min-width: auto;
  font-family: 'open sans', sans-serif;
  font-weight: 100;
  font-size: 1.5em;
  letter-spacing: 0.6px;
  text-align: center;
}




/* Rang */

ul.rangliste {
  margin-top:30px;
}

ul.rangliste li span {
  font-size: 16px;
  font-weight: 100;
  position: absolute;
  margin-top: -19px;
}

ul.rangliste li {
  list-style-type: none;
  font-size: 17px;
  font-weight: 600;
  margin: 18px 0 0 0;}



/* password Hover  */

.passwordinput:hover ~ .password,
.passwordinput:focus ~ .password {
  opacity: 1;
  z-index: 3;
  top:195px;
  transition: all 0.2s ease-out;
}

span.password {
  display: block;
  width: 70%;
  left: calc( 50% - 36.5% );
  position: absolute;
  height: auto;
  padding:3% 2%;
  font-size: 11px;
  color:#ffffff;
  background-color:#546E7A;
  opacity: 0;
  top: 45px;
  z-index: -2;
  transition: all 0.2s ease-in;
  -webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.15);
}

span.password:after {
  display: block;
  content: " ";
  background-color: #546E7A;
  position: absolute;
  height: 10px;
  left: calc( 50% - 5px);
  width: 10px;
  transform: rotate(-45deg);
  bottom: -5px;
}


/* Progress bar */


div.candidatos {
    position:relative;
    height: 40px;
    margin: 15px 0;
    padding-left:0px;
    max-width:80%;
}
div.candidatos .parcial {
    display:inline-block;
    width:100%;
    height:40px;
    vertical-align:middle;
    padding:0px;
}
div.candidatos .parcial .info {
    height:30px;
    position: relative;
}
div.candidatos .parcial .info > div {
    float:left;
}
div.candidatos .parcial .info .nome {
    position: absolute;
    top: 0;
    left:0;
    font-size: 21px;
    font-weight: 100;
}
div.candidatos .parcial .info .eleito, div.candidatos .parcial .info .segundo-turno {
    padding: 0 5px 2px 5px;
    border-radius: 2px;
}
div.candidatos .parcial .progressBar {
    position:relative;
    width:100%;
    height:25px;
    margin:5px 0 2px;
    background: #330A2A;
}
div.candidatos .parcial .progressBar .percentagem {
    position:absolute;
    top:0;
    left:0;
    height:25px;
    background: #00FFB1;
    -webkit-transition: 2.9s all;
    -webkit-animation-duration: 2.9s;
    -webkit-animation-name: animationProgress;
}

div.candidatos.italia .parcial .percentagem {
    background-color:#00FFB1;
}

.percentual {
    -webkit-transition: 2.5s all;
    -webkit-animation-duration: 2.5s;
    -webkit-animation-name: animationProgress;
    transition: 2.5s all;
    animation-duration: 2.5s;
    animation-name: animationProgress;
}
@-webkit-keyframes animationProgress {
    from {
        width:0;
    }
}
@keyframes animationProgress {
    from {
        width:0;
    }
}


/*
=================
Circle Graph using (https://github.com/rendro/easy-pie-chart)
================
*/
.circle-graph h1 {
	text-align: center;
  padding: 0px;
  position:absolute;
  z-index: 3;
  font-size: 35px;
  font-weight: 900;
  display:block;
  margin:0;
  height:115px;
  width:200px;
  bottom:0;
  
} 

.graph-one {
  height: auto; /* set height for postioning */
}

.circle-graph-container {
  position: relative;
}

canvas {
  position: raltive;
  top: 0px;
}

.circle-graph {
	margin: 0px;
  float: left;
  position: relative;
}


.containergraph {
  height:200px;
  width:200px;
  margin:0 auto;
}



/* mix */

.Grava, .shadow {
-webkit-box-shadow: 10px 9px 39px -3px rgba(0, 0, 0, 0.36);
-moz-box-shadow: 10px 9px 39px -3px rgba(0, 0, 0, 0.36);
box-shadow: 10px 9px 39px -3px rgba(0, 0, 0, 0.36);

}

/* message */

.message {
  margin:20px 0 0 0;
}
 


/* Radio disable enable */


.disabledinput {
  opacity: 0.4;
  text-decoration: line-through;
  filter: alpha(opacity=40); /* For IE8 and earlier */
}
.enabledinput {
  opacity: 1;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}


/* fontawesome */

.fa {
  width: auto;
  text-align: center;
  position: relative;
  z-index: 2;
  margin: 0 5px 0 0;
  font-size: 15px !important;
}




/* Game.ejs  */

.gamesImg {
  border-radius:50%;
  width:150px;
}

#enemy {
  position: absolute;
    top: 170px;
    width: 150px;
    left: calc( 50% - 75px );
    background-image: url(http://www.gravatar.com/avatar/2d423145edf57d7wew71cd0c2149e45a6?s=200&r=mm&d=mm);
    background-size: 100% auto;
    border-radius: 50%;
    height: 150px;
}

p#enemyname {
    width: 150px;
    height: 40px;
    top: -15px;
    position: absolute;
    font-weight: 900;
    margin: -50px 0 0 0;
    font-size: 30px;
}

p#enemyammo img, #ammoplayer img {
    height: 42px;
}

p#liveenemy, p#liveplayer {
text-align: right;
    position: absolute;
    right: -36px;
    font-weight: 100;
    font-size: 26px;
    top: 87px;
}

p#enemyammo, p#ammoplayer {
    text-align: left;
    font-size: 32px;
    position: absolute;
    top: 26px;
    left: 173px;
    display: block;
    height: 30px;
    width: 190px;
    color: #00FFB1;
}

#roundcounter {
    position: absolute;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    left: 0;
    z-index: -1;
    font-size: 26px;
    font-weight: 100;
    top: calc( 52% - 20px );
}

#player {
      position: absolute;
    bottom: 60px;
    width: 150px;    
    background-image: url(http://www.gravatar.com/avatar/2d423145edf57d7wew71cd0c2149e45a6?s=200&r=mm&d=mm);
        background-size: 100% auto;
       border-radius: 50%;
    height: 150px;
    left: calc(50% - 75px);
}




/* game.ejs navi */

 .cir-box {
    width: auto;
    height: auto;
    position: fixed;
    bottom: 70px;
    right: 40px;
 }
 
 .cir-mini-box {
   position: relative;
   width: 100%;
   height: 100%;
 }
 
 .cir-mini-box img {
   width: 43px;
   margin-top: 23px;
   transition: all 0.5s ease;
 }
 
.cir6,
 .cir1,
 .cir2,
 .cir3,
 .cir4,
   .cir5 {
   position: absolute;
   width: 90px;
   height: 90px;
   border-radius: 50%;
   color: white;
   cursor: pointer;
   text-align: center;
   font-size: 50px;
   transition: all 0.2s ease-in;
   visibility: visible;
 }
 
 .togglePop {
   width: 0!important;
   height: 0!important;
   visibility: hidden;
   bottom: 50px!important;
   right: 50px!important;
   font-size: 0px!important;
   transition: all 0.1 ease-in;
 }
 
 .togglePop img {
   width: 10px;
   transition: all 0.5s ease;
 }
 
 .cir1 {
    bottom: 100px;
    right: 0px;
    transition-delay: 0.05s;
 }
 
 .cir2 {
        bottom: 83px;
    right: -5px;
    transition-delay: 0.07s;
 }
 
 .cir3 {
      bottom: 177px;
    right: -4px;
    transition-delay: 0.09s;
 }
 
 .cir4 {
       bottom: 269px;
    right: -5px;
   transition-delay: 0.1.1s;
 }

  .cir5 {
        bottom: 361px;
    right: -5px;
   transition-delay: 0.1.3s;
 }

  .cir6 {
       bottom: 453px;
    right: -5px;
   transition-delay: 0.1.5s;
 }



.cir4:hover, .cir3:hover , .cir2:hover , .cir1:hover,   .cir5:hover, .cir6:hover {
  opacity:0.3;

}
 
 .main-cir {
   width: 80px;
   height: 80px;
   position: absolute;
   bottom: 0;
   right: 0;
   background-color: #00FFB1;
   border-radius: 50%;
   cursor: pointer;
   transition: all 0.3s ease-in;
   text-align: center;
 }
 
 .main-cir:hover {

   transform: scale(1.2);
 }

 
 .main-cir img {
   width: 35px;
   margin-top: 30px;
 }
 









/*  ????  */



 .name {
   display: inline-block;
   padding: 10px 30px 10px 40px;
   background-color: rgb(255, 32, 73);
   color: white;
   font-family: 'Titillium Web', sans-serif;
   font-weight: 600;
   font-size: 18px;
   border-radius: 0;
   transition: all 0.3s ease;
   position: relative;
   cursor: pointer;
 }
 
 .name a {
   position: relative;
   right: 3px;
   text-decoration: none;
   color: white;
 }
 
 .name:before {
   content: '';
   width: 0;
   height: 47;
   border-radius: 0;
   left: 0;
   z-index: 0;
   top: 0;
   position: absolute;
   background-color: #7d7d7d;
   transition: all 0.5s ease;
   border-right: 8px solid white;
 }
 
 .name:hover {
   box-shadow: 0px 0px 8px 2px #d8d8d8;
 }
 
 .name:hover:before {
   width: 95px;
   height: 47px;
   padding-right: 20px;
 }





/* fight animations */





.rumble {
  -webkit-animation: rumble .2s infinite linear;
}

@-webkit-keyframes rumble {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: translate(2px, 0px) rotate(-3deg);
  }
  50% {
    -webkit-transform: translate(0px, -2px) rotate(0deg);
  }
  75% {
    -webkit-transform: translate(-2px, 0px) rotate(3deg);
  }
  100% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
  }
}




.double-slash:before,
.triple-slash:before,
.slash-anim:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 13;
  width: 0px;
  height: 0px;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 120px solid #00FFB1;
  transform: rotateZ(45deg);
  animation: attackSlash 0.5s cubic-bezier(0.08, 0.91, 0.08, 0.93) 1;
}

.double-slash:before {
  box-shadow: -10px -10px 0 #00FFB1;
}

.triple-slash:before {
  box-shadow: 10px -10px 0 #00FFB1, -10px -10px 0 #00FFB1;
}
@keyframes attackSlash {
  0% {
    transform: translate3d(50px, -50px, 0) rotateZ(45deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(-20px, 20px, 0) rotateZ(45deg);
    opacity: 0;
  }
}




.armor:after {
content: " ";
position: absolute;
left: calc( 50% - 75px);
    width: 149px;
    height: 149px;
border-radius: 50%;
animation: armoranimation 1s linear infinite,
rotate 0.75s linear infinite;
}

@keyframes armoranimation {
  0% {
    box-shadow: -10px 0px 0px 3px rgba(122, 255, 210, 0.8), 0px 0px 0px 3px rgba(122, 255, 210, 0.8), 10px 0px 0px 3px rgba(122, 255, 210, 0.8);
  }
  100% {
    box-shadow: 10px 0px 0px 3px rgba(122, 255, 210, 0.8), 0px 0px 0px 9px rgba(122, 255, 210, 0.8), -10px 0px 0px 3px rgba(122, 255, 210, 0.8);
  }
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@-webkit-keyframes rumble {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: translate(2px, 0px) rotate(-3deg);
  }
  50% {
    -webkit-transform: translate(0px, -2px) rotate(0deg);
  }
  75% {
    -webkit-transform: translate(-2px, 0px) rotate(3deg);
  }
  100% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
  }
}


.reloading:after {
    content: " ";
    display: block;
    opacity: 0.4;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-image: url(img/reloadanimation.svg);
    background-size: auto;
    background-position: -3px -5px;
   -webkit-animation: flickerAnimation 1s;
   -moz-animation: flickerAnimation 1s;
   -o-animation: flickerAnimation 1s;
    animation: flickerAnimation 1s;
     -webkit-animation-iteration-count: 1; /* Safari 4.0 - 8.0 */
    animation-iteration-count: 1;
  opacity:0;
}


@keyframes flickerAnimation {
  0%   { opacity:0; }
  10%  { opacity:0.2; }
  20% { opacity:0.4; }
  30%   { opacity:0.6; }
  40%  { opacity:0.8; }
  50% { opacity:1; }
  60% { opacity:0.8; }
  70%   { opacity:0.6; }
  80%  { opacity:0.4; }
  90% { opacity:0.2; }
  100%   { opacity:0; }
}






.playerimage span.crit {
  color: red;
  font-family: 'open sans';
}
.playerimage span.dodge,
.playerimage span.dodge {
  color: #00FFB1;
  font-family:"open sans", sans-serif;
}
.enemy span.stun,
.playerimage span.stun {
  color: red;
  font-family: 'open sans';
}


.enemy span,
.playerimage span {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 20px;
  text-align: center;
  font-weight: 900;
  /*    &.crit ~ .attack-anim::before{
        border-bottom: 120px solid red;
      }*/
}
.enemy span.damage,
.playerimage span.damage {
  color: #fff;
  font-size: 36px;
  animation: damageFly 2s cubic-bezier(0.08, 0.91, 0.08, 0.93) 0.15s 1;
}

.playerimage span.crit,
.playerimage span.dodge,
.playerimage span.stun {
  top: -5px;
  font-size: 24px;
  text-transform: uppercase;
  animation: damageFly 2s cubic-bezier(0.08, 0.91, 0.08, 0.93) 0.15s 1;
}

body.shake {
  animation: shake 0.15s linear 9;
}


@keyframes damageFly {
  0% {
    transform: translateX(0px) translateY(0px) translateZ(0px);
  }
  75% {
    opacity: 1; 
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(-60px) translateY(-120px) translateZ(0px);
    opacity: 0;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0px);
  }
  33% {
    transform: translateX(-7px);
  }
  66% {
    transform: translateX(7px);
  }
  100% {
    transform: translateX(0px);
  }
}





/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Smaller than mobile */
@media (max-width: 400px) {
 
     .padding_25 {
       padding: 25px !important;
     }
 
  #footer a {
    float: right;
    width: auto;
    padding-right: 15px;
    right: 0;
    text-align: right;  }




}



/* Logo */

.titel:after { 
    content: " ";
    height: 35px;
    width: 35px;
    left: -44px;
    top: 6px;
    display: block;
   background: url(img/logo.svg); 
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
}

.titel {z-index:1;
  cursor: pointer;max-width:200px;
      margin: 10px 25px 10px 75px;
}


.titel.start {
    margin: 10px 25px;
    width: auto;
    position: fixed;
    top: 35px;
    left: 74px;
        z-index: 4;
}

.titel:after {
    -webkit-transition: all 300ms 0s ease-in-out;
    transition: all 300ms 0s ease-in-out;



}

.titel:hover:after {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}




/*  Pre loader  */

.wrapperLoader {
  background-color: #00FFB1;
  overflow: hidden;
      width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999;
    top:0;

}


.buttonPreLoader {
  left: calc(50% - 65px);
  top: 54%;
  min-width:130px;
  text-align: center;  
  position: absolute;
}


.wrapperLoader h2 {
  color:#330A2A;
  text-align: center;  
  font-family: 'Open Sans';
  font-weight: 800;
  font-size: 16px;
  margin: 0 0 20px 0;
}

.yellow {
    position: absolute;
    top: calc( 50% - 20px );
    left: calc( 50% - 90px );
    height: auto;
    animation: speeder 0.8s linear infinite;
}


@keyframes speeder {
  0% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -3px) rotate(-1deg);
  }
  20% {
    transform: translate(-2px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 3px) rotate(-1deg);
  }
  60% {
    transform: translate(-1px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-2px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.longfazers {
  position: absolute;
  width: 100%;
  overflow:hidden;
  height: 100%;
}
.longfazers span {
  position: absolute;
  height: 2px;
  width: 20%;
  background: #330A2A;
}
.longfazers span:nth-child(1) {
  top: 20%;
  animation: lf .6s linear infinite;
  animation-delay: -5s;
}
.longfazers span:nth-child(2) {
  top: 40%;
  animation: lf2 .8s linear infinite;
  animation-delay: -1s;
}
.longfazers span:nth-child(3) {
  top: 60%;
  animation: lf3 .6s linear infinite;
}
.longfazers span:nth-child(4) {
  top: 80%;
  animation: lf4 .5s linear infinite;
  animation-delay: -3s;
}

@keyframes lf {
  0% {
    left: 200%;
  }
  100% {
    left: -200%;
    opacity: 0;
  }
}
@keyframes lf2 {
  0% {
    left: 200%;
  }
  100% {
    left: -200%;
    opacity: 0;
  }
}
@keyframes lf3 {
  0% {
    left: 200%;
  }
  100% {
    left: -100%;
    opacity: 0;
  }
}
@keyframes lf4 {
  0% {
    left: 200%;
  }
  100% {
    left: -100%;
    opacity: 0;
  }
}

/*  endgame afterloader */


.endgame{
  background-color: #333;
  overflow: hidden;
      width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999;
  top:-120%
  ;-webkit-box-shadow: -4px 7px 50px -1px rgba(0,0,0,0.66);
-moz-box-shadow: -4px 7px 50px -1px rgba(0,0,0,0.66);
box-shadow: -4px 7px 50px -1px rgba(0,0,0,0.66);

}
.endgame div{     text-align: center;
    height: 470px;
    width: 300px;
    display: block;
    position: absolute;
    left: calc( 50vw - 150px);
    top: calc( 50vh - 235px);
/*
 animation: float 3s ease-out infinite;
      animation: shrink 3s ease-out infinite,
        floatUp 3s ease-out infinite;*/
    }
 
.endgame div p {margin:230px 0 20px 0; color:white;}

.bullet {float: left;
    margin: 100px 50px 0 50px;}
  
.skull {position: absolute;
    animation: float 5s ease-out infinite;
    margin: 70px 89px;
    left: 0;
    width: 120px;
}

.endgame div:before {
      content: "";
      width: 125px;
      height: 20px;
      position: absolute;
      bottom: 230px;
      left: 149px;
      transform: translateX(-50%);
      background-color: #444;opacity:0.3;
      border-radius: 50%;      animation: shrink 5s ease-out infinite,
        floatUp 5s ease-out infinite;
}
@keyframes float{
  50%{
    transform: translate(0, 20px);
  }
}
@keyframes floatUp{
  50%{
    transform: translate(-50%, 5px);
  }
}

@keyframes shrink {
  
  0%{
    width: 60px;
  }
  50%{
    width: 40px;
  }
  
  100%{
    width: 60px;
  }
  
}

/* profilbearbeiten */

.formular_DB input {max-width:250px;}
.formular_DB  {padding:25px 0 0 0;}

/* Larger than phablet (also point when grid becomes active) */
@media only screen and (max-device-width: 480px) {
    .playground #footer {display: none;}
    .playground #box1 {border:0px;}
    .playground .titel {display: none;}
    .titel.start {top: 35px !important;left: 64px !important;font-size: 20px;}
    .titel.start:after { top: 0px;}
    #home #menu-icon-shape {top: 26px; right: 31px;}
    .hero img { margin: -60px 0 0 0;}
    .secondbox, .thirdbox, #bo4 {padding: 0 20px;}
    h1 {font-size: 3rem;}
    #enemy { top:110px;}
    .modal-box {width: 95%;}
    p#enemyname {width: 100%;height: 40px;top: 5px;position: absolute;font-size: 20px;font-weight: 100;}
    p#enemyammo, p#ammoplayer {top: 0px;left: -60px;height: 30px;width: 30px;}
    p#liveenemy, p#liveplayer {right: 152px;top: -9px;}
    .cir6, .cir1, .cir2, .cir3, .cir4, .cir5 {background-color: rgba(111,111,111,0.1);}}

/* Larger than tablet */
@media (min-width: 850px) {
.hero img {height: 96vh;z-index: 0;width: 50vw;margin: -50px 0 0 0;}
.padding_25 {padding: 25px 25px 25px 25px;}
}

/* Larger than desktop */
@media (max-width: 1000px) {

.dark_B_mobile_none {
  border: 2px #330A2A solid;
}




}

/* Larger than Desktop HD */
@media (min-width: 1200px) {


}









/*  wäre für mobil relevant  */

.button_game_mobile_div {
  height: 70px;
  position: fixed;
  width: 110px;
  overflow: hidden;
  right: 0;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.bottom_20 {
  bottom:20px;
}

.bottom_30 {
  bottom:100px;
}

.button_game_mobile {
    width: auto;
    font-size: 34px;
    position: absolute;
    font-weight: 900;
    right: -205px;
    background-color: #00FFB1;
    border-radius: 100px;
    color:#330A2A;
    opacity: 1;
    border:0;
    padding: 18px 80px 41px 60px;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.button_game_mobile_div:hover .button_game_mobile,
.button_game_mobile_div:focus .button_game_mobile {
    width: auto;
    font-size: 34px;
    position: absolute;
    font-weight: 900;
    right: -30px;
    opacity: 1;

  }

.button_game_mobile_div:hover,
.button_game_mobile_div:focus {
width:290px;
}


.button_game_mobile span.gametext {
    margin-top: -20px;
    position: absolute;
    font-size: 16px;
    font-weight: 100;
    line-height: 35px;
}

.button_game_mobile .fa {
  font-size: 40px!important;
  margin-right: 0;
  position: absolute;
  left: 15px;
  top: 7px;
}

  .button_game_mobile .fa.pencil-square-o {
  top: 12px;
}
